{% set tags = h.get_facet_items_dict('tags', search_facets, limit=3) %}
{% set placeholder = _('Search the library') %}
{% set dataset_type = h.default_package_type() %}
<div role="main" class="main" style="padding-top: 0px;">
    <div class="hero" style="background-image: url(/london.jpeg);">
        <div class="container">
            <div class="hero__content">
                <form class="search-form" method="get" action="{% url_for dataset_type ~ '.search' %}">
                    <h1 class="heading">{{ _("Welcome to the Data for London Library") }}</h1>
                    <h3 class="heading">Search city data all in one place </h3>
                    <p>Find data quickly and easily to build services and solutions, and improve life for Londoners. Search through thousands of datasets from all kinds of organisations. Type your search term to get going.
                    </p>
                    <div class="input-group search-input-group">
                        <input
                            aria-label="{% block header_site_search_label %}{{ h.humanize_entity_type('package', dataset_type, 'search placeholder') or _('Search datasets') }}{% endblock %}"
                            id="field-main-search" type="text" class="form-control input-lg" name="q" value=""
                            autocomplete="off"
                            placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-lg" type="submit" aria-labelledby="search-label">
                                <i class="fa fa-search"></i>
                                <span class="sr-only" id="search-label">{{ _('Search') }}</span>
                            </button>
                        </span>
                    </div>

                    <p>For example:
                        <a href={% url_for 'dataset_search', q='census' %}>census</a>,
                        <a href={% url_for 'dataset_search', q='air quality' %}>air quality</a>, or
                        <a href={% url_for 'dataset_search', q='community safety' %}>community safety</a>.
                </form>
            </div>
        </div>
    </div>

    <div class="container">
    <div>
            <h3 class="heading">{{ _("What data is available?") }}</h1>
            <p>
            Data is sourced from the London Datastore, ONS, Redbridge and Camden boroughs.
            <p><a href=/pages/how-to-contribute>Contribute to the library</a></p>
            </p>

            <h3 class="heading">{{ _("About the Data for London Library") }}</h1>
            <p>
            Share, find and use city data to improve lives for Londoners. The Data for London Library makes crucial datasets simpler and easier to find for researchers, service providers and innovators. With better access to data, you can help improve services, address challenges like housing and journey delays, and spark new ideas to help Londoners. The Data for London Library is part of the Data for London programme. See how Data for London can support your work.
            </p>
            <p><a href=/pages/frequently-asked-questions>Find out more about Data for London</a></p>
             <h3 class="heading">{{ _("Tell us what you think") }}</h1>
            <p>
            We’re listening – share your views to improve this beta version of the website.
            <p><a href=/pages/join-our-user-research-pool>Share feedback</a></p>
            </p>



    </div>
    </div>
</div>
