{% set tags = h.get_facet_items_dict('tags', search_facets, limit=3) %}
{% set placeholder = _('E.g. environment') %}
{% set dataset_type = h.default_package_type() %}
<div role="main" class="main" style="padding-top: 0px;">
    <div class="hero" style="background-image: url(/london.jpeg);">
        <div class="container">
            <div class="hero__content">
                <form class="search-form" method="get" action="{% url_for dataset_type ~ '.search' %}">
                    <h1 class="heading">{{ _("Search London's data") }}</h1>
                    <p>Whether you’re a citizen, business owner, researcher or developer, the site provides over a
                        thousand datasets to help you understand the city and develop solutions to London’s problems.
                    </p>
                    <div class="input-group search-input-group">
                        <input
                            aria-label="{% block header_site_search_label %}{{ h.humanize_entity_type('package', dataset_type, 'search placeholder') or _('Search datasets') }}{% endblock %}"
                            id="field-main-search" type="text" class="form-control input-lg" name="q" value=""
                            autocomplete="off"
                            placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-lg" type="submit" aria-labelledby="search-label">
                                <i class="fa fa-search"></i>
                                <span class="sr-only" id="search-label">{{ _('Search') }}</span>
                            </button>
                        </span>
                    </div>

                    <p>For example,
                        <a href={% url_for 'dataset_search', q='population' %}>Population</a>,
                        <a href={% url_for 'dataset_search', q='economy' %}>Economy</a>, or
                        <a href={% url_for 'dataset_search', q='state of london' %}>State of London</a>.
                </form>
            </div>
        </div>
    </div>

    <div class="container">
    <div>
            <h2 class="heading">{{ _("Using data to support London") }}</h1>
            <p>
                The London Datastore team is pleased to bring you the beta version of our new pan-London search, bringing together data from across London.
            </p>
            <p>
                Over the coming months, we will be rolling out new features and data sources to help you find what you need.
                Please <a href="mailto:datastore@london.gov.uk">let us know</a> if you have any questions or feedback, and read <a href="/about">more about the project</a>.
            </p>

            <p>
                In November 2022, a new Data for London Advisory Board formed.
                The board is made up of data and technology experts who support the Mayor and the Chief Digital Officer,
                Theo Blackwell, to address key challenges in London.
                For more information about the Board, see
                <a href="https://www.london.gov.uk/programmes-strategies/business-and-economy/supporting-londons-sectors/supporting-tech-and-digital-sectors/data-london-advisory-board">
                https://www.london.gov.uk/programmes-strategies/business-and-economy/supporting-londons-sectors/supporting-tech-and-digital-sectors/data-london-advisory-board</a>
            </p>
    </div>
    </div>
</div>
