{% ckan_extends %}
{% block users_list %}
  {% set no_results_text = _('No matching result for "{q}".').format(q=q) %}
  {% if page.items %}
    <table class="table table-header table-hover table-bordered dfl-scroll-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>User Type</th>
          <th>Verified Email</th>
          <th>Trusted Email</th>
          <th>Organisation Member</th>
          <th>Dataset Collaborator</th>
        </tr>
      </thead>
      <tbody>
          {% block users_list_inner %}
          {% for user in page.items %}
          <tr>
              <td><a href="{{ url_for('user.read', id=user['name'])}}"> {{ user['name'] }}</a></td>
              <td>{{ user['email'] }}</td>
              <td>{% if user.sysadmin %} Sys&nbsp;Admin {% else %} Standard {% endif %}</td>
              <td>{{ h.is_email_verified(user) }}</td>
              <td>{{ h.is_trusted_email(user) }}</td>
              <td>{{ user.is_organization_member }}</td>
              <td>{{ user.is_collaborator }}</td>
            </tr>
      {% endfor %}
      {% endblock %}
    </tbody>
  </table>
  {% else %}
    <p>{{ _(no_results_text) }}</p>
  {% endif %}
{% endblock %}
