{% ckan_extends %}
{% block users_list %}
  {% set no_results_text = _('No matching result for "{q}".').format(q=q) %}
  {% if page.items %}
    <table class="table table-header table-hover table-bordered">
      <thead>
        <tr>
          <th>User</th>
          <th>User Type</th>
          <th>Email</th>
          <th>Verified Email</th>
          <th>Trusted Email</th>
          <th>Organisation Member</th>
          <th>Dataset Collaborator</th>
        </tr>
      </thead>
      <tbody>
          {% block users_list_inner %}
          {% for user in page.items %}
            <tr>
              <td class="media">{{ h.linked_user(user['name'], maxlength=20) }}</td>
              <td>{% if user.sysadmin %} Sys Admin {% else %} Standard {% endif %}</td>
              <td>{{ user['email'] }}</td>
              <td>{{ h.is_email_verified(user) }}</td>
              <td>{{ h.is_trusted_email(user) }}</td>
              <td>{{ user.is_organization_member }}</td>
              <td>{{ user.is_collaborator }}</td>
            </tr>
      {% endfor %}
      {% endblock %}

    </tbody>
  </table>
  {% else %}
    <p>{{ _(no_results_text) }}</p>
  {% endif %}
{% endblock %}
