{% ckan_extends %}
{% block required_core_fields %}
    {{ form.input("name", id="field-username", label=_("Username"), placeholder=_("username"), value=data.name, error=errors.name, classes=["control-medium"], attrs={'class': 'form-control', 'autocomplete': 'username'}, is_required=True) }}
    {{ form.input("fullname", id="field-fullname", label=_("Full Name"), placeholder=_("Joe Bloggs"), value=data.fullname, error=errors.fullname, classes=["control-medium"], attrs={'class': 'form-control', 'autocomplete': 'name'}) }}
    {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder=_("joe@example.com"), value=data.email, error=errors.email, classes=["control-medium"], attrs={'class': 'form-control', 'autocomplete': 'email'}, is_required=True) }}
    {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder="••••••••", value=data.password1, error=errors.password1, classes=["control-medium"], attrs={'class': 'form-control', 'autocomplete': 'new-password'}, is_required=True) }}
    {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", placeholder="••••••••", value=data.password2, error=errors.password2, classes=["control-medium"], attrs={'class': 'form-control', 'autocomplete': 'new-password'}, is_required=True) }}
{% endblock %}

{% block optional_core_fields %}
{% endblock %}
