<div class="phase-banner">
    <div class="container">
        <p class="phase-banner__content">
            <strong class="phase-banner__tag">Beta</strong>
            <span class="phase-banner__text">This is a preview of the new Data for London platform.
                <a href="{% url_for 'about'%}">Learn more about Data for London</a>
                or
                <a href="https://data.london.gov.uk/">return to the London Datastore</a>.
            </span>
        </p>
    </div>
</div>
