{#
    Displays a list of datasets.
    
    packages       - A list of packages to display.
    list_class     - The class name for the list item.
    item_class     - The class name to use on each item.
    hide_resources - If true hides the resources (default: false).
    
    Example:
    
      {% snippet 'snippets/package_list.html', packages=c.datasets %}
    
    #}
    
    
    {% block package_list %}
    {% asset "gla/gla-search_result_logging" %}
        {% if packages %}
            {% block package_list_inner %}
            {% set is_search = h.is_search_results_page(request) %}
            {% if h.show_favourite_datasets(g.userobj, request) %}
                {% set favourites = h.get_followed_datasets(g.userobj, request) %}
                {% if favourites %}
                    {% snippet 'snippets/favourites.html', favourites=favourites %}
                {% endif %}
            {% endif %}
            {% set nonfavourites = h.remove_favourites(g.userobj, request, packages) %}
                <ul class="{{ list_class or 'dataset-list list-unstyled' }}">
                    {% for package in nonfavourites %}
                        {% snippet
                        'snippets/package_item.html',
                        package=package,
                        item_class=item_class,
                        hide_resources=hide_resources,
                        is_search_result=is_search,
                        result_index=loop.index
                        %}
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endif %}
    {% endblock %}
