{% ckan_extends %}

{% block custom_styles %}
<link rel="stylesheet" href="/gla.css" />
{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block head_extras %}
    {# Cookie consent and analytics scripts are omitted on localhost
    to avoid spamming GA during dev work #}
    <!-- Google Tag Manager -->
        {% if "lxocalhost" not in request.url %}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NSHK6JGC');</script>
        <!-- End Google Tag Manager -->
    {% else %}
        <!-- omitted due to running on localhost -->
    {% endif %}
{{ super() }}
{% endblock %}
