{% extends "user/dashboard.html" %}

{% block primary_content_inner %}

<div data-module="dashboard">
    <section class="module">
        <div class="">
            {% if unregistered %}
            {{_('You need to register an account before you can follow datasets.')}}
            {% else %}
            {% if packages|length > 0 %}
            <div class>
                <ul class="{{ list_class or 'dataset-list list-unstyled' }}">
                    {% for package in packages %}
                    {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources %}
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            {{_('You are not currently following any datasets')}}
            {% endif %}
            {% endif %}
        </div>
    </section>
</div>

{% endblock %}