{% ckan_extends %}

{% block header_wrapper %}

<div class="logos-masthead">
  <div class="container">
    <div>
        <a href="https://www.london.gov.uk/" class="london-logos">
            <img src="/logo-mayoral.svg" alt="Mayor of London" title="Mayor of London"/>
            <img src="/logo-assembly.svg" alt="London Assembly" title="London Assembly" />
        </a>
    </div>
  </div>
</div>

{{ super() }}

{% endblock %}


{% block header_account %}
{% endblock %}


{% block header_logo %}
<a class="logo" href="{{ h.url_for('home.index') }}">
  <img src="/brand-logo.svg" alt="Data for London" title="Data for London" />
</a>
{% endblock %}

{% block header_site_search %}
{% endblock %}

{% block header_site_navigation_tabs %}

<li><a href="{{ h.url_for('home.index') }}">Home</a></li>
<li><a href="{{ h.url_for('dataset.search') }}">Search</a></li>
{% if c.userobj %}
{% set new_activities = h.new_activities() %}

<li><a href="{{ h.url_for('activity.dashboard') }}">{{ c.userobj.display_name | truncate(20,True) }}

  {% if new_activities > 0 %}
  {% set notifications_tooltip = ngettext('%(num)d update', '%(num)d updates', new_activities)  %}
  <span class="badge" title="{{ notifications_tooltip }}">{{ new_activities }}</span>


  {% endif %}

</a></li>

{% else %}
<li><a href="{{ h.url_for('user.login') }}">Log in</a></li>
{% endif %}


</div>
{% endblock %}