{% ckan_extends %}

{% block extras %}
  {% for extra in pkg_dict.extras %}
    {% if extra.key == "upstream_url" %}
      <tr>
        <th scope="row" class="dataset-label">Upstream URL</th>
        <td class="dataset-details">
          <a href="{{ extra.value }}">{{ extra.value }}</a>
        </td>
      </tr>
    {% endif %}
  {% endfor %}
  {% if pkg_dict.data_quality %}
    <tr>
      <th scope="row" class="dataset-label">Data Quality</th>
      <td class="dataset-details">{{ pkg_dict.data_quality }}</td>
    </tr>
  {% endif %}
{% endblock %}
