{% ckan_extends %}

{% block package_basic_fields_title %}
{{
    form.input('title',
        id='field-title',
        label=_('Title'),
        placeholder=_('eg. A descriptive title'),
        value=data.title,
        classes=['control-full',
        'control-large'],
        attrs={'data-module': 'slug-preview-target', 'class': 'form-control'})
}}
{% endblock %}

{% block package_basic_fields_description %}
{{
    form.markdown('notes',
        id='field-notes',
        label=_('Description'),
        placeholder=_('eg. Some useful notes about the data'),
        value=data.notes,
        attrs={'class': 'form-control'})
}}
{% endblock %}

{% block package_basic_fields_tags %}
{% set tag_attrs = {'data-module': 'autocomplete',
                    'data-module-tags': '',
                    'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
{{
    form.input('tag_string',
        id='field-tags',
        label=_('Tags'),
        value=data.tag_string,
        classes=['control-full'],
        attrs=tag_attrs)
}}
{% endblock %}



{% block package_basic_fields_custom %}
{{
    form.input("data_quality",
       label=_("Data Quality"),
       id="field-data_quality",
       placeholder=_("data quality"),
       value=data.data_quality,
       error=errors.data_quality,
       classes=["control-medium"])
}}

{{
    form.input("dataset_boost",
        label=_("Boost factor"),
        id="field-dataset_boost",
        placeholder=_("boost factor"),
        value=data.dataset_boost,
        error=errors.dataset_boost,
        classes=["control-medium"])
}}
{{
    form.checkbox("archived", 
        id="field-dataset-archived",
        label=_("Archive dataset"), 
        value="true",
        checked=data.archived == 'true',
        classes=["control-medium"])
}}
{{
    form.textarea("archived_description", 
        id="field-dataset-archived-desc",
        label=_("Reason for archiving"), 
        value=data.archived_description,
        placeholder=_("Reason for archiving"),
        error=errors.archived_description,
        classes=["control-medium"])
}}

{% endblock %}