{% ckan_extends %}

{% block basic_fields_url %}
{{ super() }}

{{ form.input('http_status',
            label=_('HTTP status'),
            id='field-http_status',
            value=data.http_status,
            error=errors.http_status) }}

{{ form.input('last_check',
               label=_('Last check'),
               type='date',
               value=data.last_check,
               error=errors.last_check) }}

{{ form.input('resource_hash',
                label=_('Resource hash'),
                value=data.resource_hash,
                error=errors.resource_hash) }}

{{ form.input('mime_type',
                label=_('MIME type'),
                id='field-mime_type',
                value=data.mime_type,
                error=errors.mime_type) }}

{{ form.input('resource_category',
                label=_('Category'),
                id='field-resource_category',
                value=data.resource_category,
                error=errors.resource_category) }}

{{ form.input('validity_start',
                label=_('Validity start'),
                type='date',
                value=data.validity_start,
                error=errors.validity_start,)}}

{{ form.input('validity_end',
                label=_('Validity end'),
                type='date',
                value=data.validity_end,
                error=errors.validity_end,)}}
{% endblock %}
