{% ckan_extends %}
{% block resource_item_title %}
    <a class="heading" href="{{ res.url }}" title="{{ res.name or res.description }}">
        {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ h.extract_resource_format(res) }}">{{ h.get_translated(res, 'format') }}</span>
        {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }}
    </a>
{% endblock %}

{% block resource_item_explore %}
    {% if not url_is_edit %}
        <div class="dropdown btn-group">
            <a href="{{ url }}" class="btn btn-primary" type="button">
                <i class="fa fa-info-circle"></i>
                <span class="btn-text">{{ _('More information') }}</span>
            </a>
        </div>
    {% endif %}
{% endblock %}
