{% ckan_extends %}
{% block resource_item_title %}

    <div class="resource-icon">
        <span class="format-label" property="dc:format" data-format="{{ h.extract_resource_format(res) }}">{{ h.get_translated(res, 'format') }}</span>
    </div>
    <div class="resource-title">
        <a href="{{ res.url }}">
            {% if (res.title) %}
                {{ h.get_translated(res, 'title') }}
            {% else %}
                {% if res.url_type == 'upload' %}
                    {{ h.resource_display_name(res) | truncate(90) }}
                    
                {% else %}
                    {{ res.url }}
                {% endif %}
            {% endif %}
            
        </a>

    </div>
    {% if res.description %}
    <div class="resource-description">
        {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
    </div>
    {% endif %}
    <div class="resource-meta">
        {% if res.format %}
        {{ h.get_translated(res, 'format') }}, {% endif %}
        {% if res.size %}
        {{ h.humanise_file_size(res.size) }}, {% endif %}
         <a href="{{ url }}">Details</a>

    </div>




{% endblock %}

{% block resource_item_description %}
{% endblock %}

{% block resource_item_explore %}
{% endblock %}
