{% extends "page.html" %}

{% block primary %}
<div class="module-content">
    <h1>Accessibility</h1>
    <p>This website is run by the Greater London Authority (GLA). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
    <ul>
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>navigate most of the website using speech recognition software</li>
    <li>listen to most of the website using a screen reader (including the most</li>
    <li>recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
    <h2>How accessible this website is</h2>
    <p>This site has been built to be as accessible as possible and tested against WCAG 2.1 AA. There are some areas which are not yet fully accessible:</p>
    <ul>
    <li>Some charts use colour as the only visual means of conveying information. However we have carefully selected our colour pallets for charts so they are distinguishable to those with visual impairments and pass all colour accessibility tests. We are investigating ways we can further address this. Please get in touch using the contact details below if you have any problems using our charts.</li>
    <li>The contrast between foreground and background colours for are insufficient for the icons used to denote CSV and JSON files on dataset pages.</li>
    </ul>
    <h2>Feedback and contact information</h2>
    <p>We’re always looking to improve the accessibility of this website. If you find any problems, think we’re not meeting accessibility requirements, or need information on this website in a different format (like accessible PDF, large print, easy read, audio recording or braille) then please email <a href="mailto:datastore@london.gov.uk">datastore@london.gov.uk</a>.</p>
    <p>We’ll consider your request and get back to you within five working days, to advise further.</p>
    <h2>Enforcement procedure</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
    <h2>Technical information about this website’s accessibility</h2>
    <p>The GLA is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <h3>Compliance status</h3>
    <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to the non-compliances listed below.</p>
    <h2>Non-accessible content</h2>
    <p>The content listed below is non-accessible for the following reasons.</p>
    <h3>Non-compliance with the accessibility regulations</h3>
    <ul>
    <li>Some charts use colour as the only visual means of conveying information. This means we do not meet <a href="https://www.w3.org/WAI/WCAG21/quickref/#use-of-color">WCAG 2.1 AA criterion 1.4.1</a>.</li>
    <li>The contrast between foreground and background colours for are insufficient for the icons used to denote CSV and JSON files on dataset pages. This means we do not meet <a href="https://www.w3.org/WAI/WCAG21/quickref/#non-text-contrast">WCAG 2.1 AA criterion 1.4.11</a>.</li>
    </ul>
    <h3>Disproportionate burden</h3>
    <ul>
    <li>Documents (PDFs) on the London Datastore
    <p>We have assessed the time and cost of making PDFs accessible, including those published since 23 September 2018, and believe updating all of these would represent a ‘disproportionate burden’ considering the resources currently available to the GLA and how infrequently the documents are accessed. All future PDF reports will be designed to publish all accessibility requirements.</p></li>
    </ul>
    <h3>Content that’s not within the scope of the accessibility regulations</h3>
    <ul>
    <li>The Google reCaptcha used as a security check on some pages is not an accessible component. If the automated “I’m not a robot” checkbox test fails, it presents sets of images that cannot be navigated by keyboard or voice control, and the supplied audio alternative is usually not distinguishable even by many people with good hearing. Neither version can be used from Braille readers. Some images displayed as part of the security check also do not have sufficient colour contrast (WCAG 1.4.3. Contrast (Minimum)). This is third party content provided by Google, which is not under our control (neither funded, nor developed by us) and so falls under the exemptions of the accessibility regulations – Application, 4. (2)(e).</li>
    </ul>
</div>
{% endblock %}