{% extends "page.html" %}


{% block primary %}
<div class="module-content">
    <h1>Data Quality Standards</h1>
    <h2><img class="pull-right alignnone" src="https://s3-eu-west-1.amazonaws.com/files.datapress.com/london/wp-uploads/20150823220458/LFEPA_thumb.png" alt="" width="115" height="57">The London Fire and Emergency Planning Authority</h2>
    <p>The London Fire and Emergency Planning Authority published their own “<a href="http://londondatastore-upload.s3.amazonaws.com/docs/LFB-Framework%20for%20better%20data%20quality%20-%20November%202013.pdf" target="_blank" rel="noopener noreferrer">Framework for achieving better data quality</a>” in April 2009.</p>
    <hr>
    <h2><img class="pull-right alignnone" src="https://s3-eu-west-1.amazonaws.com/files.datapress.com/london/wp-uploads/20150823220458/TfL_thumb.png" alt="" width="115" height="57" align="middle">Transport for London</h2>
    <p>Transport for London has a number of data checking procedures in place to ensure that the statistics they produce are of the highest possible quality and integrity.</p>
    <h3>Tube data</h3>
    <ul>
        <li>Tube network service data is fed predominantly from a system named CuPID.</li>
        <li>When a service disrupting incidents occurs, an incident reporting form (IRF) is completed</li>
        <li>This is checked locally by an operational manager before the IRF is entered on the system.</li>
        <li>Following this, several further checks are made, and a 10% audit of processed IRFs is carried out.</li>
        <li>An attribution process follows where the party ‘responsible’ for the failure is discussed / agreed.</li>
        <li>The top 10 Lost Customer Hours incidents are manually verified each week.</li>
        <li>Finally, TFL ensure alignment/reconciliation between internal and external reporting.</li>
    </ul>
    <h3>Surface Transport data</h3>
    <ul>
        <li>Each surface transport key performance indicator (KPI) has a KPI definition sheet which has a “Data Quality Assurance Checklist”.</li>
        <li>The checklist is audited by TFL’s internal “Data Quality Panel” and then given a rating attributed to the data quality, ‘A’ and ‘AA’. An ‘A’ rating is assigned to the KPI if the measure is neither seriously deficient nor clearly exhibiting elements of best practice, with proposals for improvements. If aspects of best practice are evident, an ‘AA’ rating is given.</li>
        <li>All surface KPIs are signed off each period by the relevant Director (which they may delegate) and they soft copy review the Performance Pack prior to publication.</li>
    </ul>
    <h3>Survey data</h3>
    <ul>
        <li>Surveys are carried out in excess of the Market Research Society Code of Conduct, and Interviewer Quality Control Scheme.</li>
        <li>The consistency of the agency’s data will be maintained through established standards such as BS7911, ISO 9110 or ISO20252.</li>
        <li>The automation that comes with the use of computer aided telephone interviewing (CATI) permits supervision of the interviewing whenever the survey is in progress and immediate checks as soon as the data is downloaded. It also ensures data accuracy through the avoidance of manual data handling.</li>
        <li>The data is verified by TfL Customer Research.</li>
    </ul>
    <hr>
    <h2><img class="pull-right alignnone" src="https://s3-eu-west-1.amazonaws.com/files.datapress.com/london/wp-uploads/20150823220458/LLDC_thumb.png" alt="" width="114" height="57">The London Legacy Development Corporation</h2>
    <p>The London Legacy Development Corporation has a <a href="http://londondatastore-upload.s3.amazonaws.com/docs/LLDC-Info_mgt_standards_v1.0.pdf">Information Management Standards</a> document, which defines the rules and standards by which data is managed within the Corporation. The catalogue is supported by a quality assurance framework to ensure these standards are met.</p>
    <hr>
    <h2><img class="pull-right alignnone" src="https://s3-eu-west-1.amazonaws.com/files.datapress.com/london/wp-uploads/20150823220458/MOPAC_thumb.png" alt="" width="115" height="57">MOPAC</h2>
    <p>MOPAC and the Metropolitan Police will adopt the Code formally in April, if not before, when the stage 2 transfer of relevant staff into MOPAC will take effect.</p>
</div>
{% endblock %}