{% extends "page.html" %}

{% block main_content %}
<div class="module-content">
    <h1>Frequently Asked Questions</h1>
    <h2>What is the London Datastore?</h2>
    <p>The London Datastore is an initiative by the Greater London Authority (GLA) to release as much of the data that it holds as possible.</p>
    <h2>What data cannot or will not be released?</h2>
    <p>Our policy is to only withhold data where to release it would infringe privacy legislation or a contractual obligation eg commercial confidentiality.</p>
    <h2>Isn’t some of this data available elsewhere?</h2>
    <p>We recognise that some organisations already provide open access to their data and where appropriate we have provided a direct link to their website, all available from one place.&nbsp; However we feel that there are some instances where we can add value to this, for example by focussing on just the data for London, by saving you from having to download separate datasets for multiple years, or by making it available in a standardised and easy to use format.</p>
    <h2>Will the Datastore duplicate information held in London.gov.uk website?</h2>
    <p>Whilst this is possible, the idea behind the Datastore is to provide raw data that the GLA holds, leaving the main website of the GLA, <a href="https://www.london.gov.uk">www.london.gov.uk</a> to make available information in its final state (eg. Policy and Strategy documents).</p>
    <h2>Will any more data be added to the Datastore?</h2>
    <p>The Datastore is not a one off exercise, we plan to keep adding data sets as they become available to the GLA.</p>
    <h2>To what purpose can I use the data in this site?</h2>
    <p>The license conditions under which data can be used will vary for each data package but in general the data held in this site can be used for most purposes, provided the Terms and Conditions of this site are not infringed. It is the responsibility of the user to adhere to the individual license conditions under which data is released (see the license details section for each data package).</p>
    <h2>What can I do with Crown Copyright material?</h2>
    <p>The Office for National Statistics website contains a summary of the terms of use associated with Crown Copyright material from ONS. It explains the terms for personal and research use, plus the need for a click-use licence from OPSI for commercial or other uses. More information is available at <a href="http://www.ons.gov.uk/copyright/index.html">http://www.ons.gov.uk/copyright/index.html</a></p>
    <p>We hope to be able to provide more information about the licensing terms for GLA created data in due course.&nbsp; We are seeking advice from the <a href="http://www.okfn.org/">Open Knowledge Foundation</a> about the best way of doing this.</p>
    <h2>Who do I contact if I have a comment or complaint about this site?</h2>
    <p>The GLA welcomes comments about this site. In the first instance, email us at <a href="mailto:datastore@london.gov.uk">datastore@london.gov.uk</a>. This e-mail will be received by the Datastore Project Team. We will try to respond as soon as possible.</p>
    <h2>Who is in charge of the London Datastore?</h2>
    <p>Ultimately, the Mayor of London is responsible for the Datastore. However, the Project Team is led by the Assistant Director in the Intelligence Unit.</p>
</div>
{% endblock %}