{% extends "page.html" %}

{% block main_content %}
<article class="module" role="main">
    <div class="module-content">
        <h1>About This Website</h1>
        <p>The London Datastore has been created by the Greater London Authority (GLA) as a first step towards freeing London’s data. We want everyone to be able access the data that the GLA and other public sector organisations hold, and to use that data however they see fit – for free. The GLA is committed to using its connections and influence to request&nbsp; other public sector organisations into releasing their data here too, and it’s an objective backed strongly by Sadiq Khan, Mayor of London.</p>
        <p>Releasing data though is just half the battle. Raw data often doesn’t tell you anything until it has been presented in a meaningful way and most people don’t have the tools to do this. That’s why we’re keen for you to visualise or build apps from the data available on the site.</p>
        <p>We want to hear your ideas and feedback so join the conversation on <a href="http://twitter.com/ldn_data">Twitter</a> or email us at <a href="mailto:datastore@london.gov.uk">datastore@london.gov.uk</a>.</p>
        <p>Join the<a href="https://www.london.gov.uk/what-we-do/research-and-analysis/join-our-mailing-list-research-and-analysis"> mailing list </a>to receive monthly updates about what’s new on the Datastore and Dashboard.</p>
        <div class="text-right"><strong><em>— The London Datastore Team</em></strong></div>
    </div>
</article>
{% endblock %}
