{% extends "page.html" %}

{% block main_content %}
<article class="module" role="main">
    <div class="module-content">
        <h1 class="page-heading">Privacy policy</h1>
        <p>
            The Greater London Authority is committed to protecting your privacy and processing your personal data in accordance with the Data Protection Act (DPA) 2018 and the EU General Data Protection Regulation (GDPR). This privacy notice explains how we collect information about you, how it is used and kept secure, your privacy choices when using our website, and your right to access your information under the DPA.
        </p>
        <h2>What information do we collect?</h2>
        <p>
            When you register for an account on the London Datastore, we will ask you to provide your email address, a username and a password.  You will also be given an opportunity to sign up for our monthly Datastore newsletter.
        </p>
        <h2>What do we use it for?</h2>
        <p>
            The information you provide will be used to create and administer your account for the Datastore and to provide you with your log on credentials to access your Datastore account.
        </p>
        <p>
            Where you provide your consent for us to do so, your email address will be used to send you our monthly Datastore newsletter, but only where you have signed up for it.
        </p>
        <h2>Who has access to your information?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <h2>Where is your information held?</h2>
        <p>
            The London Datastore and all information collected through it is hosted on servers located within the UK and accessible only to the appropriate parties as stated above.
        </p>
        <h2>Updating your information</h2>
        <p>Should you wish to change your account settings you can do so using the <a href="https://data.london.gov.uk/user/edit">Edit Profile</a> page of the site. From this page you can change your username, password and email address. You also have the option to opt in or out of receiving the Datastore newsletter or delete your account all together.</p>
        <p>For more information about the GLA’s wider privacy policies your rights under the current data protection legislation, and details of how to contact our Data Protection Officer, please visit the <a href="https://www.london.gov.uk/about-us/governance-and-spending/privacy-policies/privacy-notice-greater-london-authority-gla-employees">Privacy Page</a> on the GLA website.</p>
    </div>
</article>
{% endblock %}
