{% extends "page.html" %}

{% block primary %}
<div class="module-content">
    <h1>Terms and Conditions</h1>
    <p>The Greater London Authority’s London DataStore website is maintained for your use. Access and use of this site constitutes acceptance by you of these Terms and Conditions, which will take effect from the date of first use.</p>
    <h2>The Greater London Authority:</h2>
    <ul>
        <li>Requires that you use this site and its contents only for lawful purposes and in a manner that does not infringe or interfere with the rights of others.</li>
        <li>Invites your comments about this site and the data it contains but prohibits the posting or transmission of offensive, obscene, defamatory or otherwise unlawful material and any act that interferes with the normal use of the site.</li>
        <li>Reserves the right, at its sole discretion, to remove any user posted material from this site which it deems unsuitable or inappropriate or otherwise infringes these Terms and Conditions of use.</li>
        <li>May, at its sole discretion, edit, add to or change any aspect of this site without prior warning, Cannot always guarantee the accuracy of the data posted on this site. This will particularly be the case for data that has been extracted from this site and made available by a third party. If you require any further information with regard to accuracy, update frequency etc of a particular dataset, please e-mail datastore@london.gov.uk with your contact details and questions. We will try to respond as soon as possible.</li>
        <li>May, from time to time, change the terms and conditions applicable to this site.</li>
    </ul>
    <h2>You:</h2>
    <ul>
        <li>May use the data contained in this site for any purpose, providing it does not infringe the terms and conditions.</li>
    </ul>
    <ul>
        <li>May create software applications, visualisations etc that make use of data in this site. If you do so or wish to do so, you may wish to contact us via datastore@london.gov.uk so that we can provide any appropriate assistance.</li>
        <li>Should, if you extract and re-use any data from this site, explicitly state that the Greater London Authority cannot warrant the quality or accuracy of the data.</li>
        <li>Must not in any way imply or explicitly state that a third party use or service created using data from this site has the endorsement, affiliation, support or approval of the Greater London Authority</li>
        <li>Are requested to review these terms and conditions regularly as they may change without prior warning. Your use of the site after any changes to the terms and conditions shall indicate your explicit acceptance of such changes.</li>
    </ul>
</div>
{% endblock %}