{% ckan_extends %}

{% block page_heading %}

    {{ super() }}
    <span class="large-follow-button">
        {{ h.follow_button('dataset', pkg.id) }}
    </span>
    {% if pkg.archived == 'true' %}
        [{{_('Archived')}}]
    {% endif %}
{% endblock %}

{% block package_notes %}
    {% set created=h.render_datetime(pkg.metadata_created) %}
    {% set updated=h.render_datetime(pkg.metadata_modified) %}
    {% set entry_type=pkg.entry_type.capitalize() if pkg.entry_type else "Dataset" %}
    <p class="gla-informational">
        {{ entry_type }} created {{ created }}{% if updated != created %}, updated {{ updated }}{% endif %}
        by
        <a href={% url_for 'dataset_search', organization=pkg.organization.name %}>{{ pkg.organization.title }}</a>
    </p>
    
    {% if pkg.project_name %}
        <p class="gla-informational">
            {% if pkg.project_url %}
                Part of <a href="{{pkg.project_url}}">{{ pkg.project_name }}</a>
            {% else %}
                Part of {{ pkg.project_name }}
            {% endif %}
        </p>
    {% endif %}

    {% if pkg.harvest_source_title %}
        <p class="gla-informational">
            {% if h.get_pkg_dict_extra(pkg_dict=pkg_dict, key='upstream_url') %}
                Hosted by <a href="{{ h.get_pkg_dict_extra(pkg_dict=pkg_dict, key='upstream_url') }}">{{pkg.harvest_source_title}}</a>
            {% else %}
                Hosted by {{pkg.harvest_source_title}}
            {% endif %}
        </p>
    {% endif %}

    
    {% if pkg.archived == 'true' %}
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            This dataset is no longer actively maintained.
            {% if pkg.archived_description %}
                {{h.render_markdown(h.get_translated(pkg, 'archived_description'))}}
            {% endif %}
        </div>
    {% endif %}
    
    {% if pkg.search_description %}
        <p><strong>{{ pkg.search_description }}</strong></p>
    {% endif %}
    {{ super() }}

{% endblock %}

{% block package_tags %}
{% endblock %}
