{% ckan_extends %}

{% block resource_actions %}
    <ul class="d-flex flex-wrap gap-1 justify-content-end">
        {% block resource_actions_inner %}
            {% block action_manage %}
                {% if h.check_access('package_update', {'id':pkg.id }) %}
                    <li>{% link_for _('Edit resource'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='pencil' %}</li>
                {% block action_manage_inner %}{% endblock %}
                    <li>{% link_for _('Views'), named_route=pkg.type ~ '_resource.views', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='chart-bar' %}
                {% endif %}
            {% endblock action_manage %}
            {% if res.url and h.is_url(res.url) %}
                <li>
                    <div class="btn-group">
                        <a class="btn btn-primary resource-url-analytics" href="{{ res.url }}">
                            {% if res.resource_type in ('listing', 'service') %}
                                <i class="fa fa-eye"></i> {{ _('View') }}
                            {% elif  res.resource_type == 'api' %}
                                <i class="fa fa-key"></i> {{ _('API Endpoint') }}
                            {% else %}
                                <i class="fa fa-arrow-circle-down"></i> {{ _('Download') }}
                            {% endif %}
                        </a>
                    </div>
                </li>
        {% endif %}
    {% endblock %}
    </ul>
{% endblock %}


{% block resource_additional_information_inner %}

    {# Set up the information to show in the additional info table #}

    {# We will use the created date for both modified dates if they are not present #}

    {% set data_modified=res.created %}
    
    {% if res.last_modified %}
        {% set data_modified=res.last_modified %}
    {% endif %}

    {% set metadata_modified=res.created %}
    
    {% if res.metadata_modified %}
        {% set metadata_modified=res.metadata_modified %}
    {% endif %}

    {% set format= res.format or res.mimetype_inner or res.mimetype %}

        <div class="module-content">

            {% snippet "package/snippets/additional_info_table.html",
            table_rows=[{"label": _('Data last updated'), "datetime": data_modified},
            {"label": _('Metadata last updated'), "datetime": metadata_modified},
            {"label": _('Created'), "datetime": res.created},
            {"label": _('Format'), "text": format},
            {"label": _('Licence'), "text": pkg_license},
            {"label": _('Size'), "text": h.SI_number_span(res.size) if res.size }]
            %}
        </div>
{% endblock %}
