{% ckan_extends %}


{% block secondary %}
<aside class="secondary col-md-3">
    <div class="visually-hidden-focusable"><a href="#search-results">{{ _('Skip to results ') }}</a></div>
    {% block secondary_content %}
    
    <!-- Figure out if there are filters enabled and show filters section if so -->
    {% set searchstate = namespace(filters_set=false) %}
    {% for filter_name in facet_titles.keys() %}
        {% if filter_name in request.args %}
            {% set searchstate.filters_set = true %}
            {% break %}
        {% endif %}
    {% endfor %}

    <h2 class="filter">Filter by:</h2>
    <p class="filter">Filters narrow down results.</p>
    {% if searchstate.filters_set %}

    {% for filter_name in facet_titles.keys() %}
        {% with items = items or h.get_facet_items_dict(filter_name, search_facets) %}
        {% for item in items %}
            {% if item.active != False %}
            <a class="btn-filter" href="{{ h.remove_url_param(filter_name,value=item.name) }}">
                {{facet_titles[filter_name]}}: <strong>{{item.display_name}}</strong>
                    <i class="fa-solid fa-circle-xmark fa-circle-xmark-black"></i>    
            </a>
            {% endif %}
        {% endfor %} 
        {% endwith %}
    {% endfor %} 
        <p style="padding-top:20px">
            <a href={% url_for 'dataset_search' %}>Reset search</a>
        </p><hr>
    {% else %}
    <p>No filters applied.</p>
    {% endif %}
    {{ super() }}
    {% endblock %}
</aside>
{% endblock %}

{% block primary %}
<div class="primary col-md-9 col-xs-12" role="main" id="search-results">
    {% block primary_content %}
        {{ super() }}
    {% endblock %}
</div>
{% endblock %}

{% block package_search_results_api %}
{% endblock %}

