{% ckan_extends %}


{% block secondary %}
<aside class="secondary col-md-3">
    <div class="visually-hidden-focusable"><a href="#search-results">{{ _('Skip to results ') }}</a></div>
    {% block secondary_content %}
    {{ super() }}

    <!---- Figure out if there are filters enabled and show clear filters button if so-----!>
    {% set searchstate = namespace(filters_set=false) %}
    {% for filter_name in facet_titles.keys() %}
        {% if filter_name in request.args %}
            {% set searchstate.filters_set = true %}
            {% break %}
        {% endif %}
    {% endfor %}

    {% if searchstate.filters_set %}
        <hr>
        <p style="padding-top: 25px;">
            <a class="btn btn-default"
            href={% url_for 'dataset_search', q=request.args.get("q"), sort=request.args.get("sort") %}
            style="width: 100%;">
                Clear filters
            </a>
        </p>
    {% endif %}
    {% endblock %}
</aside>
{% endblock %}

{% block primary %}
<div class="primary col-md-9 col-xs-12" role="main" id="search-results">
    {% block primary_content %}
        {{ super() }}
    {% endblock %}
</div>
{% endblock %}

{% block package_search_results_api %}
{% endblock %}

